# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folder
*Debug*
externals
*Release*
*release*
*debug*
build/
Build/
BUILD/
_codeql_build_dir/

# Configuration
*.user

#MAC
*.DS_Store

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
*.cbp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# CodeQL
_codeql_detected_source_root
